<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="StyleCop.MSBuild" version="4.7.44.1" targetFramework="net40" />
  <package id="YamlDotNet.Core" version="2.1.0" targetFramework="net40" />
  <package id="YamlDotNet.RepresentationModel" version="2.1.0" targetFramework="net40" />
</packages>